<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <title>Register</title>
  <!-- MDB icon -->
  <link rel="icon" href="B.png" type="image/x-icon" />
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
  <!-- Google Fonts Roboto -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" />
  <!-- MDB -->
  <link rel="stylesheet" href="css/mdb.min.css" />

  <link rel="icon" href="B.png" type="image/x-icon" />

  <link rel="stylesheet" href="register.css">
</head>

<body>


  <section class="h-100 h-custom" style=" background-color: rgb(253, 224, 224);">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-8 col-xl-6">
          <div class="card rounded-3">
            <a href="/">
              <img src="/Final imgs/logo.png" class="w-100"
              style="border-top-left-radius: .3rem; border-top-right-radius: .3rem; margin-top: 30px;"
              alt="logo">
            </a>

            <hr style="width: 90%; margin: auto; margin-top: 20px;">
            <div class="card-body p-4 p-md-5">
              <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Register</h3>

              <form class="px-md-2" action="/register" method="post" enctype="multipart/form-data">

                <div class="row">
                  <div class="col-md-8 mb-2">
                    <div class="form-outline mb-3">
                      <input name="name" type="text" id="form3Example1q" class="form-control" required>
                      <label class="form-label" for="form3Example1q">Name</label>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6 mb-3">

                    <div class="form-outline datepicker">
                      <label for="age">Age:</label>
                      <input type="number" id="quantity" name="age" min="1" max="100" style="width: 100%;">   
                    </div>
                  </div>
                </div>

                <div class="row" style="margin-bottom: 10px;">
                  <div class="col-md-6 mb-4" style="margin-top: 15px;" aria-required="true">
                    <label for="gender">Gender:</label>
                    <select name="gender" class="select" style="height: 35px; border-radius: 5px; margin-left: 10px;">
                      <option value="1" disabled>Gender</option>
                      <option value="Male">Male</option>
                      <option value="Female">Female</option>                     
                      <option value="Non-binary">Non-binary</option>
                    </select>
                  </div>
                </div>
                
                <div class="row">
                  <div class="col-md-8 mb-3">
                    <div class="form-outline mb-3">
                      <input name="email" type="email" id="form3Example1q" class="form-control email" onblur="validateEmail()" required>
                      <label class="form-label" for="form3Example1q">Email</label>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-8 mb-3">
                    <div class="form-outline mb-3">
                      <input name="username" type="text" id="form3Example1q" class="form-control username" onblur="validateUsername()" required>
                      <label class="form-label" for="form3Example1q">Username</label>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-8 mb-3">
                    <i>
                      Choose an image for your profile picture
                    <i>
                    <div class="mb-3">
                      <!-- <label for="formFile" class="form-label">Default file input example</label> -->
                      <input name="pfpicture" class="form-control" type="file" id="formFile">
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-8 mb-3 mt-4">
                    <div class="form-outline mb-3">
                      <input name="password" type="password" id="form3Example1q" class="form-control password" required onblur="validatePassword()">
                      <label class="form-label" for="form3Example1q">Password</label>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-8 mb-3 mt-3">
                    <div class="form-outline mb-3">
                      <input type="password" id="form3Example1q" class="form-control confirm-password" onblur="validateConfirmPassword()" required>
                      <label class="form-label" for="form3Example1q">Confirm Password</label>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-8 mb-3 mt-3">
                    <div class="form-outline mb-3">
                      <input type="text" name="bio" id="form3Example1q" class="form-control" required>
                      <label class="form-label" for="form3Example1q">Bio</label>
                    </div>
                  </div>
                </div>

                <button type="submit" class="btn btn-success btn-lg mb-1">Signup</button>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End your project here-->

  <script src="register.js"></script>
  <!-- MDB -->
  <script type="text/javascript" src="js/mdb.min.js"></script>
  <!-- Custom scripts -->
  <script type="text/javascript"></script>
</body>

</html>